@import "./base/fonts";
@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/discovery";
@import "./layouts/complete-offer";
@import "./layouts/functionnalities";
@import "./layouts/conditions";


// ELEMENTS PRINCIPAUX
* {
    box-sizing: border-box;
}
* a {
    text-decoration: none;
    color: black;
}
body{
    font-family: $font-text;
    width: 100%;
    margin: auto;
}