//FONTS
$font-title: 'Poppins', sans-serif;
$font-text: 'Inter', sans-serif;

//SIZE 
$size-title: 48px;
$size-text: 16px;

// WEIGHT
$weight-bold: 900;
$weight-light: 300;


//SIZE FOR MOBILE 
$size-title-mobile: 35px;
$size-list-mobile: 16px;
$size-text-mobile: 14px;
