//BTN
@mixin btn-green ($margin: 30px auto, $size: $size-text) {
    cursor:pointer;
    background: $green;
    border-radius: 5px;
    padding: 5px 30px;
    margin: $margin;
    &-text{
        display: block;
        font-size: $size;
        text-align: center;
        color: white;
        padding: 8px;
    }
}

@mixin IA {
    color: $red;
    font-size: 10px;
    margin-left: 5px;
    transform: translateY(-5px);
}