//CONDITIONS BLOCK
.conditions{
    display: flex;
    margin-top: 100px;
    &-img{
        background-image: url(/images/visuel-conditions.webp);
        width: 100%;
        height: 554px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-content{
        width: 100%;
        background-color: $grey-functionnality;
        padding: 50px 50px;
        &-title{
            font-family: $font-title;
            font-size: $size-title;
            font-weight: $weight-bold;
        }
        &-text{
            width: 580px;
            line-height: 25px;
            font-weight: $weight-light;
        }
    }
    &-content-btns{
        width: 580px;
        margin-top: 50px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}
.content-btn-green{
    @include btn-green($margin:0);
}
.content-btn-black{
    display: flex;
    align-items: flex-start;
    margin-left:80px;
    &-icon{
        margin-right: 10px;
    }
    &-text{
        line-height: 25px;
    }
}
.try-sarbacane-img{
    position: absolute;
    background-image: url(/images/pj1.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}

// BREAKPOINT TABLET CONDITIONS
@media screen and (max-width: 1350px) {
    .conditions{
        flex-direction: column;
        &-img{
            height:225px;
        }
        &-content{
            background-color: $grey-functionnality;
            padding: 50px 25px;
            &-title{
                text-align: center;
                font-size: $size-title-mobile;
            }
            &-text{
                width: 100%;
                text-align: center;
                font-size: $size-text-mobile;
            }
        }
        &-content-btns{
            width: 100%;
            flex-direction: column;
            align-items: center;
            
        }
    }
    .content-btn-black{
        margin-top: 30px;
        margin-left: 0;
        align-items: center;
        &-text{
            font-size: $size-text-mobile;
        }
    }
    .try-sarbacane-img{
        display: none;
    }
}

// BREAKPOINT MOBILE CONDITIONS
@media screen and (max-width: 580px) {
    .conditions{
        flex-direction: column;
        &-img{
            height:225px;
        }
        &-content{
            background-color: $grey-functionnality;
            padding: 50px 25px;
            &-title{
                text-align: center;
                font-size: $size-title-mobile;
            }
            &-text{
                width: 100%;
                text-align: center;
                font-size: $size-text-mobile;
            }
        }
        &-content-btns{
            width: 100%;
            flex-direction: column;
            align-items: center;
            
        }
    }
    .content-btn-black{
        margin-top: 30px;
        align-items: center;
        &-text{
            font-size: $size-text-mobile;
        }
    }
    .try-sarbacane-img{
        display: none;
    }
}