//DISCOVERY BLOCK
.discovery{
    &-bg{
        background-image: url(/images/visuel-header.webp);
        height: 641px;
        width: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
        &::before{
            content: "";
            background-color: $black;
            opacity: 75%;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 3;
        }
    }
    &-block{
        text-align: center;
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        &-title{
            margin:20px 0 0 0;
            font-family: $font-title;
            font-size: $size-title;
            font-weight: $weight-bold;
        }
        &-caption{
            margin:10px 0 0 0;
            font-family: $font-title;
            font-size: $size-caption;
            font-weight: $weight-light;
        }
        &-text{
            margin:30px 0 0 0;
            font-weight: $weight-light;
            line-height: 1.8;
        }
    }
}

// BREAKPOINT TABLET DISCOVERY
@media screen and (max-width: 1350px) {}

// BREAKPOINT MOBILE DISCOVERY
@media screen and (max-width: 580px) {

}