//FUNCTIONNALITIES BLOCK 
.functionnalities{
    padding-top: 100px;
    &-title{
        font-family: $font-title;
        font-size: 38px;
        text-align: center;
        margin:92px 0;
    }
    &-board{
        width: 833px;
        margin: auto;
        margin-bottom: 50px;
    }
}
.board-insert{
    display: flex;
    &-content{
        padding:35px;
        width: 300px;
        display: flex;
        align-items: flex-start;
    }
    &-icon{
        margin-right: 15px;
    }
    &-title{
        margin:0;
        font-weight: $weight-bold;
        line-height: 25px;
    }
    &-details{
        width: 500px;
        align-self: flex-end;
        padding: 20px;
    }
    &-details-line{
        display: flex;
        align-items: center;
        margin:15px 0;
        &-check{
            color: $green;
            margin-right: 15px;
        }
        &-text{
            margin:0;
        }
        &-IA{
            @include IA;
        }
    }
}
.board-insert:nth-child(2n){
    background-color: $grey-functionnality;
}
.profit__btn{
    width: 180px;
    @include btn-green
}